:root {
  --green1: darkgreen;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--green1);
  color: white;
  padding: 15px 20px;
}

footer {
  width: 100%;
  background-color: var(--green1);
  color: white;
  padding: 10px 20px;
}

p {
  font-size: 12px;
}

.calc-container {
  margin: 50px;
  padding: 30px;
  box-shadow: 3px 3px 8px grey;
  border-radius: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}

.calc-title {
  margin-bottom: 20px;
  text-align: center;
  grid-column: 1 / span 2;
}

.calc-sub-container {
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 3px 3px 8px grey;
  border-radius: 10px;
}

.calc-input-container {
  grid-column: 1 / 2;
}

.calc-input,
.calc-value {
  margin: 10px;
  text-align: right;
  font-size: 12px;
}

.input-1 {
  width: 60px;
}

.input-2 {
  width: 30px;
}

.input-3 {
  width: 70px;
}

.calc-value-container {
  grid-column: 2 / 2;
}

.m-10 {
  margin-left: 5px;
}

.calc-button {
  grid-column: 1 / span 2;
  width: 60%;
  color: white;
  background-color: black;
  box-shadow: 3px 3px 8px grey;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.reset-button {
  grid-column: 1 / span 2;
  width: 60%;
  color: black;
  background-color: white;
  box-shadow: 3px 3px 8px grey;
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
